*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    background-color: rgb(248, 251, 251);
    position: relative;
}

.words{
    font-family: sans-serif;
    font-size: 16px;
}

.top-half{
    margin-top: 40px;
    margin-bottom: 16px;
    margin-left: 20px;
}

.bottom-half{
    margin-left: 20px;
}
span{
    border-radius: 5px;
    border: 1px solid rgb(111, 200, 238);
    font-weight: 600;
    background-color: rgb(99, 167, 194);
}

img{
    border-radius: 60px;
}
.picture{
    margin-left: 60px;
    margin-top: 80px;
    opacity: 15;
    transition: 230ms ease-in-out;
    animation: myAnimation 6s;
    animation-iteration-count: infinite;
}

@keyframes myAnimation{
    from{
        transform: rotateY(0deg);
    }
    25%{
        transform: rotateX(-90deg);
    }
    50%{
        transform: rotate(60deg);
    }
    to{
        transform: rotate(360deg);
    }
}
  